*,
*::before,
*::after {
    box-sizing: border-box;
}

@font-face {
    font-family: 'BentonSans-Light';
    src: url('../fonts/bentonsans-light.ttf');
    src: url('../fonts/BentonSans-Light.woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BentonSans-Bold';
    src: url('../fonts/BentonSans-Bold.woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Bentonsans Serif Regular";
    src: url("../fonts/bentonsans_book.ttf");
}

@font-face {
    font-family: "Bentonsans-Medium";
    src: url("../fonts/bentonsans-medium.ttf");
}

@font-face {
    font-family: "Bentonsans-Regular";
    src: url("../fonts/bentonsans_regular.ttf");
}

@font-face {
    font-family: "Bentonsans-Black";
    src: url("../fonts/Benton_Sans_Black.ttf");
}

@media (prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: smooth;
    }
}


body {
    margin: 0;
    padding: 0;
    font-family: "Bentonsans Serif Regular";
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    color: #333333;
    /*  background: #F4F6F8;*/
    background: #fff;
}

sup {
    font-family: Arial,sans-serif;
}

header {
    background: url(../images/ConradPuntaMita_Spherical.jpg) no-repeat #00AAFF;
    background-size: cover;
    background-position: center center;
    padding-top: 57px;
    position: relative;
}



header:after {
    content: "";
    width: 100%;
    bottom: 0;
    height: 90px;
    background: #fff;
    z-index: 1;
    background: linear-gradient(180deg, rgb(0 0 0 / 0%) 0%, rgb(255 255 255) 100%);
    position: absolute;
}

.navbar-expand-md .navbar-nav {
    gap: 40px;
}

.sticky-top {
    background: #0F4C97;
}

.nav-link {
    color: #fff;
    font-family: 'BentonSans-Bold';
    font-size: 15px;
    border-radius: 40px;
}

.nav-link:hover,
.nav-link.active {
    color: #0F4C97;
    background: #fff;
}

.navbar-expand-md .navbar-nav .nav-link {
    padding: 0.5rem 1rem;
}

.navbar-collapse {
    justify-content: end;
    gap: 15px;
}

.card_Wrap {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 40px;
    margin-bottom: 25px;
    align-items: center;
    justify-content: space-between;
}

.ApplyCardWrap {
    background: #fff;
    padding: 30px 45px;
    border-radius: 35px;
    text-align: center;
    display: none;
    box-shadow: 0 2px 84px rgba(13, 17, 26, 41%);
}

.banner_active {
    display: block;
}

.DivPlace {
    color: #fff;
    font-size: 16px;
    font-family: "Bentonsans-Medium";
    margin: 30px 30px 50px;
    text-align: right;
    background: rgba(0, 0, 0, 0.4);
    /* text-shadow: 0 0 10px rgb(0 0 0); */
    padding: 5px 15px;
    position: absolute;
    bottom: 0;
    right: 20px;
    z-index: 2;
}

.head-banner {
    font-size: 40px;
    text-align: center;
    color: #00175A;
    font-family: 'BentonSans-Bold';
    margin-bottom: 40px;
}

.banner-subhead {
    font-size: 25px;
    color: #00175A;
    text-align: center;
    max-width: 757px;
    margin: auto;
    margin-bottom: 30px;
}

.card_Wrap img {
    width: 100%;
    box-shadow: 0 2px 16px rgba(1, 38, 98, 68%);
    border-radius: 12px;
}



.card_Wrap li {
    flex: 1;
    cursor: pointer;
   transition: .3s;
}

.card_Wrap li.activeCard,
.card_Wrap li:hover {
    flex: 1.3;
   transition: .3s;
}

.card_name {
    color: #003994;
    font-size: 22px;
    text-transform: uppercase;
    text-align: center;
    font-family: "Bentonsans-Black";
    margin: auto;
    display: inline-block;
    position: relative;
    margin-bottom: 30px;
    padding-bottom: 7px;
}

.card_name::after {
    content: "";
    width: 100%;
    height: 2px;
    background: #33A0FF;
    position: absolute;
    left: 0;
    bottom: 0px;
}

.lto_time {
    color: #00175A;
    font-size: 21px;
    text-transform: uppercase;
    font-family: 'BentonSans-Bold';
}

.banner_row {
    display: flex;
    text-align: left;
    gap: 80px;
    position: relative;
}

.banner_row::before {
    height: 100%;
    width: 1px;
    content: "";
    background: #979797;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;

}

.head_name_filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 35px;
}

.clearfilter {
    border: 0;
    font-size: 16px;
    background: url(../images/close_button.svg) no-repeat;
    padding: 5px 0 3px 30px;
    color: #000;
    background-position: center left;
}

.ReturnBtn {
    font-size: 16px;
    text-decoration: underline;
    color: #000;
    border: 0;
    background: none;
    position: absolute;
    right: 0;
}

.banner-col {
    flex: 1;
}

.h2-offer,
.popuphead {
    font-size: 39px;
    color: #00175A;
    font-family: 'BentonSans-Bold';
}

.popuphead {
    max-width: 500px;
    text-align: center;
}

.h2-offer span {
    color: #33A0FF;
}

.banner_running_text {
    color: #00175A;
    font-size: 23px;
    font-family: "Bentonsans-Medium";
}

.p_banner_note {
    font-size: 17px;
    color: #006FCF;
    font-family: "Bentonsans-Medium";
}

.AnnualFee {
    color: #006FCF;
    font-size: 17px;
    font-family: "Bentonsans-Medium";
    margin-bottom: 20px;
}

.ApplyNow {
    background: #D25B73;
    font-size: 19px;
    width: 180px;
    height: 50px;
    display: flex;
    justify-content: center;
    border: 0;
    align-items: center;
    color: #fff;
    text-decoration: none;
    font-family: "Bentonsans-Medium";
    border-radius: 12px;
}

.ApplyNow:disabled {
    pointer-events: none;
    background: #B9B9B9;
}

.ApplyNow:hover {
    color: #fff;
    background: rgba(210, 91, 115, 0.9);
    text-decoration: none;
}

.Terms {
    color: #53565A;
    font-size: 11px;
    margin: 11px 0 5px;
    display: flex;
    gap: 8px;
}

.Terms a {
    color: #53565A;
    text-decoration: underline;
}

.Reward_ponit_list {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}

.Reward_ponit_list li {
    display: flex;
    align-items: center;
    margin-top: 30px;
    gap: 20px;
}

.Reward_ponit_list p {
    color: #000000;
    font-size: 23px;
    margin-bottom: 0;
}

.earn_ponit {
    background: #006FCF;
    height: 55px;
    flex: 0 0 55px;
    width: 55px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    font-size: 22px;
    text-transform: uppercase;
    font-family: 'BentonSans-Bold';
}
.banner-col .earn_ponit{
    align-self: baseline;
    height: 47px;
    flex: 0 0 47px;
    width: 47px;
}
.sectionHead {
    font-size: 36px;
    font-family: 'BentonSans-Bold';
    margin-bottom: 35px;
}

.head_name_filter .sectionHead {
    margin-bottom: 0;
}

#compareCards {
    padding-top: 50px;
    padding-bottom: 50px;
}

.filter_item {
    display: flex;
    margin-bottom: 25px;
    align-items: center;
    gap: 20px;
}

.filter_text {
    width: 149px;
    font-family: "Bentonsans-Medium";
    font-size: 16px;
}

.filter_btn_wrap {
    display: flex;
    gap: 20px;
}

.filter_btn {
    position: relative;
}

.filter_btn label {
    width: 221px;
    height: 32px;
    font-family: "Bentonsans-Medium";
    border: 1px solid #006FCF;
    background: #006FCF;
    border-radius: 16px;
    color: #fff;
    display: flex;
    margin-bottom: 0;
    align-items: center;
    cursor: pointer;
    justify-content: center;
}

.filter_btn input {
    position: absolute;
    opacity: 0;
}

.filter_btn label:hover{
    color: #fff;
    border: 1px solid #00175A;
    background: #00175A;
}
.filter_btn input:checked+label {
    color: #006FCF;
    border: 1px solid #006FCF;
    background: transparent;
}

.filter_btn input:disabled+label {
    background: #B9B9B9;
    border: 1px solid #B9B9B9;
    pointer-events: none;
}

.compareWrap {
    display: flex;
    gap: 40px;
    margin-top: 50px;
    justify-content: center;
    margin-bottom: 50px;
}

.compare_col {
    background: #fff;
    border-radius: 20px;
    margin-top: 50px;
    max-width: 33%;
    position: relative;
    flex: 1;
    align-self: flex-start;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
    text-align: center;
    box-shadow: 0 2px 39px rgba(0, 0, 0, 40%);
}

.compare_col.open {
    align-self: auto;
}

.Compare_center {
    display: flex;
    justify-content: center;
}

.card_img {
    max-width: 165px;
    margin-top: -50px;
    box-shadow: 0 -1px 12px rgba(0, 0, 0, 62%);
    border-radius: 6px;
}

.card_name_compare {
    font-size: 21px;
    font-family: "Bentonsans-Medium";
    margin-top: 24px;
    margin-bottom: 15px;
}

.compare_col .AnnualFee {
    font-size: 12px;
    color: #000000;
    font-family: "Bentonsans Serif Regular";
}

.compare_col .ApplyNow {
    width: 133px;
    height: 37px;
    font-size: 16px;
    border-radius: 4px;
    margin: 12px auto 0;
}

.compare_col .h2-offer {
    font-size: 18px;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 15px;
}

.col_running_text {
    font-size: 16px;
    text-align: left;
    margin-bottom:7px ;
}

.compare_col .Reward_ponit_list li {
    flex-direction: column;
    align-items: center;
}

.compare_col .Reward_ponit_list p {
    font-size: 17px;
}

.padding_col {
    padding-left: 20px;
    padding-right: 20px;
}

.form-check {
    display: inline-block;
    margin-top: 25px;
}

.benefits {
    position: relative;
    padding-top: 30px;
}

.Benefits_ul {
    text-align: left;
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

.Benefits_ul li {
    margin-bottom: 10px;
    padding-left: 25px;
    position: relative;
}

.Benefits_ul li::before {
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background: #000000;
    content: "";
    position: absolute;
    left: 5px;
    top: 7px;
}

.benefits::after {
    position: absolute;
    top: 0;
    content: "";
    width: calc(100% + 30px);
    left: -15px;
    top: 0;
    background: #898989;
    height: 1px;
}

.benefits_btn {
    font-size: 16px;
    padding-bottom: 40px;
    position: relative;
    cursor: pointer;
}

.benefits_btn::after {
    position: absolute;
    content: "";
    bottom: 17px;
    left: 0;
    width: 25px;
    height: 25px;
    border: 1px solid #000000;
    transition: 0.2s;
    border-top: 0;
    border-left: 0;
    transform: rotate(45deg) skew(-12deg, -12deg);
    right: 0;
    margin: auto;
}

.open .benefits_btn::after {
    transform: rotate(-135deg) skew(-12deg, -12deg);
    bottom: 2px;
}

.benefit_details {
    display: none;
    position: relative;
    margin-top: 15px;
    padding-top: 15px;
}

.benefit_details::before {
    background: #E9E9E9;
    position: absolute;
    width: calc(100% + 30px);
    left: -15px;
    top: 0;
    height: 1px;
    content: "";
}

.benefit_head {
    color: #006FCF;
    font-size: 21px;
    font-family: "Bentonsans-Medium";
}

.slider_running_text {
    font-size: 21px;
}

.notes {
    font-size: 12px;
}

.slider_tablet {
    display: flex;
    align-items: center;
    padding: 50px 0;
    border-top: 1px solid #003994;
}

.slider_left,
.slider_right {
    flex: 1;
}

.slider_left,
.rewardpoint>span {
    display: none;
}

.slider_left.selected,
.rewardpoint>span.selected {
    display: block;
}

.slider_right {
    display: flex;
    justify-content: center;
}

.rangeslider {
    display: inline-block;
    /* margin-right: -15px; */
    /* width: 158px;*/
    position: relative;
    min-height: 305px;
}

.rangeslider input {
    width: 305px;
    height: 50px;
    position: absolute;
    left: 0;
    z-index: 2;
    bottom: -53px;
    /* margin: 0; */
    transform-origin: left center;
    background: transparent;
    /* transform: rotateX(180deg) rotateY(0deg) rotateZ(90deg); */
    transform: rotate(-90deg);
}

.pointValues,
.rewardpoint {
    /*width: 54px;*/
    /* height: 268px; */
    padding-top: 0;
    margin-left: 15px;
    float: left;
    font-size: 20px;
    position: absolute;
    left: 20px;
    font-family: "Bentonsans-Medium";
}

.rewardpoint {
    right: 40px;
    text-align: right;
    left: auto;
    font-size: 31px;
    line-height: 31px;
    color: #006FCF;
    font-family: 'BentonSans-Bold';
}

.span_ponit {
    font-size: 19px;
    line-height: 20px;
}

.reward_span1,
.reward_span2,
.reward_span3,
.reward_span4 {
    position: absolute;
    top: 0;
    right: 0;
}

.reward_span2 {
    top: 80px;
}

.reward_span3 {
    top: 170px;
}

.reward_span4 {
    top: 258px;
}

.pointValues>span {
    display: block;
    white-space: nowrap;
    position: relative;
}

.pointValues>span.selected {
    color: #00175A;
    font-family: 'BentonSans-Bold';
}
.pointValues>span::before {
    content: "";
    position: absolute;
    width: 27px;
    height: 27px;
    background: #fff;
    border-radius: 100%;
    border: 5px solid #C5C5C5;
    left: -48px;
    z-index: 1;
    top: 0px;
}

.span1 {
    margin-top: 7px
}

.span2,
.span3,
.span4,
.span5 {
    margin-top: 59px
}

input[type=range] {
    -webkit-appearance: none;
    margin: 28px 0;
    /* transition: 4s all ease-out; */
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 305px;
    height: 8px;
    cursor: pointer;
    background: transparent;
    border-radius: 1.3px;
    border: 0px solid #979797;
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 2px 4px rgba(29, 29, 29, 0.5);
    background: linear-gradient(180deg, #FFFFFF, #F2F2F2);
    border: 8px solid #D25B73;
    z-index: 9;
    height: 40px;
    position: relative;
    width: 40px;
    border-radius: 48px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -16px;
    /* transition: 0.4s all ease-out; */
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: transparent;
}

input[type=range]::-moz-range-track {
    width: 305px;
    height: 8px;
    cursor: pointer;
    background: transparent;
    border-radius: 1.3px;
    border: 0px solid #979797;
    transition: 0.4s all ease-out;
}

input[type=range]::-moz-range-thumb {
    box-shadow: 0px 2px 4px rgba(29, 29, 29, 0.5);
    background: linear-gradient(180deg, #FFFFFF, #F2F2F2);
    border: 8px solid #D25B73;
    z-index: 9;
    height: 40px;
    width: 40px;
    border-radius: 48px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -11px;
    position: relative;
    transition: 0.4s all ease-out;
}

input[type=range]::-ms-track {
    width: 305px;
    height: 8px;
    cursor: pointer;
    color: transparent;
    background: transparent;
    border-radius: 1.3px;
    border: 0px solid #979797;
}

input[type=range]::-ms-fill-lower {
    background: transparent;
    border-radius: 1.3px;
    border: 0px solid #979797;
}

input[type=range]::-ms-fill-upper {
    background: transparent;
    border-radius: 1.3px;
    border: 0px solid #979797;
}

input[type=range]::-ms-thumb {
    box-shadow: 0px 2px 4px rgba(29, 29, 29, 0.5);
    background: linear-gradient(180deg, #FFFFFF, #F2F2F2);
    border: 8px solid #D25B73;
    z-index: 9;
    height: 40px;
    width: 40px;
    border-radius: 48px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -11px;
    position: relative;
    transition: 0.4s all ease-out;
}

input[type=range]:focus::-ms-fill-lower {
    background: transparent;
}

input[type=range]:focus::-ms-fill-upper {
    background: transparent;
}

.rangewrap {
    position: relative;
    height: 305px;
    width: 8px;
}

.rangewrap::before {
    height: 276px;
    width: 8px;
    background: #BFBFBF;
    position: absolute;
    left: -8px;
    margin: auto;
    right: 0;
    bottom: 8px;
    content: "";
}

#exploreRewards {
    padding: 0px 0;

}

.tab_section {
    background: url(../images/JustinNicholas.jpg) no-repeat;
    padding: 120px 0;
    background-size: cover;
    position: relative;
    background-position: top center;
}
.ft_labl{
    text-align: right;
    font-size: 15px;
    color: #fff;
    position: absolute;
    right: 40px;
    bottom: 40px;
    font-family: "Bentonsans-Medium";
    text-shadow: 0 0 10px rgba(0, 0, 0, 25%);
    background: rgba(0, 0, 0, 0.4);
    padding: 5px 15px;
}
.global_tab {
    background: #fff;
    width: 100%;
    max-width: 712px;
    border-radius: 33px;
    box-shadow: 0 2px 39px rgba(0, 0, 0, 25%);
}

.global_tab .sectionHead {
    margin: 0;
    padding: 20px 30px;
}

.tab {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 5px;
    margin: 0;
}

.tab li {
    flex: 1;
    background: rgba(51, 160, 255, 0.22);
    border-bottom: 5px solid #00175A;
    height: 39px;
    display: flex;
    font-family: "Bentonsans-Medium";
    font-size: 18px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.tab .activetab,
.tab li:hover {
    color: #fff;
    background: #00175A;
}

.tab_details {
    padding: 20px 30px;
    display: none;
}

.nav_banner_slider {
    display: none;
}

.activeDel {
    display: block;
}

.h3_tab {
    color: #00175A;
    font-size: 26px;
    font-family: 'BentonSans-Bold';
}

.h4_blue_tab {
    font-size: 18px;
    font-family: 'BentonSans-Bold';
    color: #003994;
    margin: 20px 0;
}

.h4_tab {
    font-size: 17px;
    font-family: "Bentonsans-Medium";
}

.row_tab {
    display: flex;
    gap: 20px;
}

.tab_col_wrap {
    width: calc(50% - 10px);
}

.tab_col {

    border-bottom: 1px solid rgba(151, 151, 151, 0.373);
    padding-top: 16px;
}

.tab_col:last-child {
    border: 0;
}

.mobilebanner {
    display: none;
}

.popup {
    position: fixed;
    height: 100%;
    display: none;
    width: 100%;
    overflow: scroll;
    z-index: 9999;
    top: 0;
    background: #fff;
    padding-top: 50px;
    padding-bottom: 50px;
}

.popup_head {
    display: flex;
    justify-content: center;
    position: relative;

}

.closebtn {
    width: 24px;
    height: 24px;
    position: absolute;
    top: -50px;
    right: 0;
    border: none;
    background: url(../images/close_button.svg) no-repeat;
    background-position: center center;
}

footer {
    width: 100%;
    min-height: 300px;
    padding: 40px 0 20px;
    background: #104c97;
    position: relative;
    color: #fff;
    font-size: 9px;
    text-align: center;
    letter-spacing: 0.3px;
}

footer p {
    line-height: 2;
    margin-bottom: 20px;
    font-size: 12px;
}

.partner-logos {
    margin: 30px 0 25px;
}

footer .small {
    font-size: 11px;
}

footer ul {
    margin: 0;
    padding: 0;
}

footer ul li {
    list-style: none;
    display: inline-block;
}

footer ul li+li {
    margin-left: 16px;
}

footer a {
    color: #fff;
}

.partner-logos img {
    width: 100%;
}

.partner_img_tab,
.partner_img_mob {
    display: none;
}



.tooltip {
    font-size: 12px;
    z-index: 10000;
}

.tooltip.show {
    opacity: 1;
}

.tooltip-inner {
    background: #006FCF;
    opacity: 1;
    padding: 20px;
    font-size: 14px;
    max-width: 295px;
    text-align: left;
    width: 100%;
    z-index: 9
}

.tooltip.bs-tooltip-bottom .arrow:before {
    border-bottom-color: #006FCF !important;
}

.tooltip.bs-tooltip-top .arrow:before {
    border-top-color: #006FCF !important;
}
.tab_details .note{
  font-size: 11px;
}
#applyForCard,#compareCards,#exploreRewards{
    scroll-margin-top: 50px;
}
.tab_details .benefitTerms{
    padding-right: 10px;
}
.footer a:hover{
    color: #fff;
}
.compare_eq{
    margin-bottom: 20px;
}
@media (min-width: 1200px){
    .container {
        max-width: 1190px;
    }
}
@media (min-width: 1192px) {
    header{
        min-height: 1340px;
    }
    .compare_eq .Terms {
        width: calc(100% + 14px);
        display: flex;
        margin-left: -7px;
        justify-content: center;
        gap: 4px;
    }
}
@media screen and (max-width: 1192px) and (min-width: 769px) {
    .compareWrap{
        gap: 20px;
    }
    .compare_eq .Terms{
        flex-wrap: wrap;
        justify-content: center;
    }
    .filter_btn label{
        width: 190px;
    }
    .filter_item{
        flex-direction: column;
        gap: 10px;
        align-items: baseline;
        margin-bottom: 15px;
    }
    .filter_text{
        width: 100%;
    }
    .navbar-expand-md .navbar-nav .nav-link {
        padding: 0.5rem 0.5rem;
    }
    .navbar-expand-md .navbar-nav {
        gap: 10px;
    }
    .card_Wrap{
        gap: 20px;
        min-height: 129px;
    }
    .card_Wrap img{
        border-radius: 8px;
    }
    .head_name_filter .sectionHead{
        width: 50%;
    }
    .padding_col {
        padding-left: 0;
        padding-right: 0;
    }
    .card_img {
        max-width: 105px;
        margin-top: -30px;
    }
    .ReturnBtn{
        position: relative;
    }
    .popup_head {
        display: flex;
        justify-content: center;
        position: relative;
        flex-direction: column;
        align-items: center;
    }
}
@media (min-width: 769px) {
   
    .card_Wrap li
    {
     opacity: 1 !important;
     min-height: 199px;
     display: flex !important;
     align-items: center;
    }
    .banner_top  .DivPlace{
        display: none;
    }
    header{
        padding-bottom: 110px;
    }
    
}
@media (max-width: 1192px) {
    .partner_img_tab {
        display: block;
    }

    .partner_img {
        display: none;
    }
}

@media (max-width: 768px) {
   #compareCards .compare_eq,  #compareCards  .padding_col,#compareCards .point_1{
  min-height: auto !important;
    }
    .filter_btn_wrap{
        gap: 10px;
    }
    .compare_eq{
        margin-bottom: 0;
    }
    .fade {
        animation-name: fade;
        animation-duration: 1.5s;
      }
      
      @keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
      }
      .fade:not(.show) {
        opacity: 1;
    }
    
    .Terms{
        margin-top: 20px;
        justify-content: center;
    }
    .banner-col {
        width: 100%;
        flex: auto;
        display: flex;
        flex-direction: column;
    }
.banner_row .ApplyNow{
    margin:15px auto 0;
}
.banner_row .Terms{
    text-align: center;

}
    .partner_img_tab,
    .clearfilter,
    header:after {
        display: none;
    }

    header {
        background: none;
        padding-top: 0px;
    }

    .banner_top {
        padding-top: 50px;
        background: url(../images/ConradPuntaMita_Spherical_mob.jpg) no-repeat #00AAFF;
        background-position: top center;
        background-size: cover;
        padding-bottom: 40px;
        position: relative;
        margin-bottom: 20px ;
    }
    .banner_top::after {
        position: absolute;
        width: 100%;
        content: "";
        height: 100%;
        bottom: 0;
        left: 0;
        z-index: 0;
        background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.29) 100%);
    }
    .head-banner {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .row_tab {
        gap: 0;
    }

    .tab_col:last-child {
        border-bottom: 1px solid rgba(151, 151, 151, 0.373);
    }

    .tab_col_wrap:last-child .tab_col:last-child {
        border-bottom: 0px solid rgba(151, 151, 151, 0.373);
    }

    .sectionHead {
        font-size: 24px;
        margin-bottom: 25px;
    }

    .lto_time,
    .p_banner_note,
    .Reward_ponit_list p {
        font-size: 16px;
    }
    .compare_col .Reward_ponit_list p {
        font-size: 13px;
    }
    .earn_ponit, .popup .banner-col .earn_ponit,.banner-col .earn_ponit{
        font-size: 18px;
        height: 41px;
        flex: 0 0 41px;
        width: 41px;
    }
    #compareCards .earn_ponit{
        align-self: baseline;
        height: 30px;
        flex: 0 0 30px;
        width: 30px;
        font-size: 12px;
    }
    .h2-offer {
        font-size: 27px;
    }
    .head_name_filter{
        margin-bottom: 20px;
    }
    .head_name_filter .sectionHead{
        color: #00175A;
    }
    .banner_running_text {
        font-size: 19px;
        margin-bottom: 0;
    }
    .card_name_compare{
        max-width: 244px;
        margin-left: auto;
        margin-right: auto;
    }
    .card_Wrap {
        gap: 0;
        padding: 0;
    }

    .card_Wrap li.activeCard,
    .card_Wrap li:hover {
        flex: 1;
        display: block;
    }

    .mobilebanner {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-top: 20px;
    }

    .card_Wrap li {
        width: 100%;
        display: none;
    }

    .banner-subhead {
        font-size: 14px;
        margin-bottom: 20px;
        max-width: 254px;
    }

    .card_Wrap img {
        width: 150px;
        display: block;
        margin: auto;
        border-radius: 6px;
    }

    .banner_row {
        gap: 0;
    }

    .mobilebanner .AnnualFee {
        color: #fff;
        font-size: 14px;
        margin-bottom: 15px;
    }
    .mobilebanner .ApplyNow{
        box-shadow: 0 2px 44px rgba(255, 255, 255, 0.52) ;
        width: 130px;
        height: 36px;
        font-size: 14px;
    }
    .banner_top .Terms a{
        box-shadow: 3px 3px 13px rgba(0, 0, 0, 0.67) ;
    }
    .banner_top .Terms,
    .banner_top .Terms a {
        color: #fff;
    }

    .compare_col .ApplyNow {
        width: 140px;
        height: 40px;
        font-size: 16px;
    }
    .banner_bottom  +  .DivPlace{
        display: none;
    }
    

    .ApplyCardWrap {
        padding: 20px;
        box-shadow: 0 2px 39px rgba(0, 0, 0, 25%);
    }

    .banner_row,
    .head_name_filter,
    .filter_item,
    .tab,
    .row_tab,
    .slider_tablet,
    .filter_btn_wrap,
    .compareWrap {
        flex-wrap: wrap;
    }

    .banner_row::before {
        display: none;
    }

    .filter_text,
    .filter_btn_wrap {
        width: 100%;
    }

    .filter_btn {
        width: calc(50% - 10px);
    }

    .filter_btn label,
    .compare_col,
    .tab_col_wrap {
        width: 100%;
    }
    .filter_btn label{
        font-size: 14px;
        margin-bottom: 0;
    }
    .filter_item{
        gap: 10px;
        margin-bottom: 15px;
    }
    .compare_col {
        max-width: 100%;
        border-radius: 14px;
        flex: 100%;
        padding-left: 30px;
    padding-right: 30px;
    }

    .slider_left,
    .slider_right {
        flex: auto;
        width: 100%;
    }
    .slider_running_text {
        font-size: 16px;
    }
    .tab {
        justify-content: space-between;
        gap: 6px;
    }

    .tab li {
        flex: none;
        width: calc(50% - 3px);
    }

    .nav_banner_slider {
        display: block;
        position: relative;
    }

    .dot_wrap {
        display: flex;
        gap: 6px;
        justify-content: center;
    }

    .dot {
        width: 9px;
        height: 9px;
        border-radius: 20px;
        background: #00175A;
    }

    .nav_banner_slider .prev, .nav_banner_slider .next {
        position: absolute;
        top: -235px;
        color: #fff;
        display: flex;
        left: -230px;
        width: 55px;
        height: 55px;
        margin: auto;
        right: 0;
        background: url(../images/left_arrow.png) no-repeat;
        font-weight: 400;
        text-decoration: none;
        background-position: center center;
        background-size: 100%;
        font-size: 0;
    }

    .nav_banner_slider .next {
        right: -230px;
        left: 0;
        background-image: url(../images/right_arrow.png);
    }
    .banner_top .container{
z-index: 1;
position: relative;
    }
    .active.dot {
        background: #FFFFFF;
    }
    .slider_tablet {
        border-top: 0px solid #003994;
        padding-top: 0;
    }
    .compare_col .Reward_ponit_list li {
        flex-direction: row;
        text-align: left;
        margin-top: 25px;
    }
    .compare_col .Reward_ponit_list{
        padding-bottom: 25px;
    }
    #compareCards .Reward_ponit_list li{
        gap: 10px;
    }
    .p_banner_note{
  margin-top: 30px;
  margin-bottom: 10px;
    }
    .padding_col {
        padding: 0;
    }

    .card_name {
        font-size: 14px;
        width: 50%;
        text-align: left;
        margin-bottom: 20px;
    }

    .ApplyCardWrap {
        text-align: left;
        border-radius: 14px;
    }
    .Reward_ponit_list {
        order: 0;
    }
.compare_col .Reward_ponit_list{
    border-top: 1px solid rgba(151, 151, 151, 0.654);
    margin-top: 20px;
}
#compareCards .compare_eq{
    height: auto !important;
}
    .ApplyNow {
        order: 2;
    }

    .Terms {
        order: 3;
    }

    .partner_img_mob {
        display: block;
    }

    .tab_section {
        padding: 231px 0 50px;
        background-size: 100%;
        background-image: url(../images/conrad_maldives.jpg);
        background-position: top center;
    }

    /* .global_tab {
        border-radius: 14px;
    } */

    .popup_head {
        flex-wrap: wrap;
    }

    .ReturnBtn {
        position: static;
    }

    .popup .compareWrap {
        flex-wrap: nowrap;
        gap: 0;
        width: 100%;
        overflow: auto;
        justify-content: normal;
    }

    .popup .Reward_ponit_list li {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .popup .card_img {
        margin-top: 45px;
        max-width: 95px;
    }

    .popup .compare_col {
        margin-top: 0;
        box-shadow: none;
        border-radius: 0;
        flex: 1;
        border: 1px solid #979797;
        padding-left: 15px;
        padding-right: 15px;
    }

    .popup .closebtn {
        top: 10px;
        right: 10px;
    }
.popup .container{
    padding-right: 0;
    padding-left: 0;
}
    .popuphead {
        font-size: 28px;
    }
    .popup .card_name_compare{
        font-size: 15px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .popup .ApplyNow{
        width:100px;
        height: 34px;
        font-size: 14px;
        border-radius: 4px;
        margin: 12px auto 0;
     }
     .popup  .h2-offer {
        font-size: 14px;
        text-align: left;
        margin-top: 10px;
    }
    .popup .Reward_ponit_list p,.popup .col_running_text,.popup .Benefits_ul li {
        font-size: 12px;
    }
    .h3_tab{
        font-size: 19px;
    }
.ft_labl{
    right: 10px;
    top: 170px;
    font-size: 12px;
    bottom: auto;
}
.navbar-expand-md .navbar-nav {
    gap: 5px;
    padding-top: 19px;
}
.nav-link:hover, .nav-link.active,.nav-link:focus {
    color: #fff;
    background:transparent;
}
.navbar-expand-md .navbar-nav .nav-link {
    padding: 0.5rem 0;
}
.navbar-toggler{
    background-image: url("data:image/svg+xml;charset=UTF-8, %3csvg width='29px' height='21px' viewBox='0 0 29 21' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3e%3cg id='M01_DCLP_Gold' transform='translate(-253.000000, -13.000000)' fill='%23FFFFFF'%3e%3cg id='Group-6' transform='translate(253.937500, 13.187500)'%3e%3crect id='Rectangle' x='0' y='10' width='27.5625' height='2.625' rx='1.3125'%3e%3c/rect%3e%3crect id='Rectangle' x='0' y='0' width='27.5625' height='2.625' rx='1.3125'%3e%3c/rect%3e%3crect id='Rectangle' x='0' y='18.1875' width='27.5625' height='2.625' rx='1.3125'%3e%3c/rect%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: center center;
}
.navbar-toggler:focus {
    box-shadow:none;
}
.banner_top .DivPlace {
    position: relative;
    margin: 30px 0 0 auto;
    width: fit-content;
    font-size: 12px;
}
#applyForCard, #compareCards, #exploreRewards {
    scroll-margin-top: 180px;
}
#exploreRewards{
    scroll-margin-top: 230px;
}
.popup .Terms{
    gap: 4px;
    flex-wrap: wrap;
}
.benefits::after {
    width: calc(100%);
    left: 0;
   
}
.tab_details .Terms{
    justify-content: left;
}

}
@media screen and (max-width: 768px) and (min-width: 768px) {

    .navbar-expand-md .navbar-nav .nav-link {
        padding: 0.5rem 1rem;
    }
    .nav-link:hover, .nav-link.active {
        color: #0F4C97;
        background: #fff;
    }
    .navbar-expand-md .navbar-nav {
        gap: 5px;
        padding-top: 0;
    }
}
@media (max-width: 540px) {
    .popup .compare_col{
        min-width: 157px;
    }
   .popup  .card_name_compare{
 min-height: 72px;
    }
    .tab_section{
        background-image: url(../images/conrad_maldives_mob.png);
        padding-top: 420px;
    }
    .ft_labl{
        top: 370px;
    }
}