
@font-face {
    font-family: 'BentonSans-Light';
    src: url('../fonts/bentonsans-light.ttf');
    src: url('../fonts/BentonSans-Light.woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BentonSans-Bold';
    src: url('../fonts/BentonSans-Bold.woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Bentonsans Serif Regular";
    src: url("../fonts/bentonsans_book.ttf");
}

@font-face {
    font-family: "Bentonsans-Medium";
    src: url("../fonts/bentonsans-medium.ttf");
}

@font-face {
    font-family: "Bentonsans-Regular";
    src: url("../fonts/bentonsans_regular.ttf");
}

@font-face {
    font-family: "Bentonsans-Black";
    src: url("../fonts/Benton_Sans_Black.ttf");
}

* {
    box-sizing: border-box;
}
body {
    font-family: "Bentonsans Serif Regular";
    padding: 0;
    margin: 0;
    color: #0a0a0a;
}

.hgvBg{
    background: url(../images/Waldorf_Astoria_Cancun.webp) no-repeat;
    background-size: cover;
   padding-bottom: 40px;
   background-position: center center;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1060px;
}
figure {
    width: 100%;
    /* max-width: 300px; */
    position: relative;
    /* margin: 0 auto; */
    text-align: center;
    z-index: 1;
    height: 150px;
    margin: 0;
    display: flex;
    align-items: center;
    /* justify-content: center; */
}
figure img {
    width: 180px;
}
.offerWrap {
    background: #fff;
    padding: 40px 60px;
    border-radius: 200px;
    text-align: center;
    color: #000;
    border-radius: 32px;
    margin: 70px auto ;
    width: calc(100% - 30px);
}
.h2-head{
    font-size: 32px;
    margin: 0 auto 30px;
    color: #00175A;
    font-family: "Bentonsans-Medium";
}
.list_ul{
    list-style: none;
    display: flex;
    text-align: left;
    padding: 0 0 40px;
    justify-content: space-between;
    position: relative;
}
.list_ul::after {
    position: absolute;
    content: "";
    width: 15px;
    height: 15px;
    border: 2px solid #fff;
    border-top: 0;
    border-left: 0;
    bottom: 0;
    right: 0;
    transform: rotate(45deg);
    left: 0;
    margin: auto;
}
.list_ul li{
    width: 33%;
    display: flex;
    gap: 15px;
    align-items: center;
    padding-right: 80px;
    position: relative;
    color: #000000;
}
.list_ul li:last-child{
    padding-right: 0;
}
.iconWrap{
    width: 50px;
    flex: 0 0 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgb(16 76 151 / 28%);
    border-radius: 100%;
}
.right-arrow{
    position: absolute;
    right: 30px;
}
.h3-head {
    font-size: 28px;
    font-family: "Bentonsans-Medium";
    color: #33A0FF;
    margin-top: 40px;
    margin-bottom: 40px;
}
.hvg_input{
    height: 50px;
    padding:5px 15px ;
    box-sizing: border-box;
    width:100%;
    max-width: 370px;
    outline: none;
    color: #333;
    border: 1px solid #DCDCDC;
}
.hvg_input::placeholder{
    color: #333;
}
.ViewOffer {
    font-size: 18px;
    font-weight: 600;
    border: 0;
    height: 50px;
    font-family: "Bentonsans-Medium";
    background: #D25B73;
    color: #fff;
    padding: 0 20px;
    cursor: pointer;
}

.label_input{
    display: flex;
    justify-content: center;
}
.splash-image img {
    max-width: 100%;
}
.offer_head{
    text-transform: uppercase;
    font-size: 1.875rem;
    color: #104c97;
    margin-top: 2.0625rem;
    margin-bottom: .875rem;
    font-weight: 800;
}  
p {
    margin-bottom: 1rem;
    font-size: inherit;
    line-height: 1.6;
    color: #104c97;
    text-rendering: optimizeLegibility;
}  
#qhhnumber.arrow_question::after { transform: rotate(-137deg); bottom: 0; }
#qhhnumber.close:after{transform: rotate(-315deg); bottom: 10px;}
.offerWrap .list_ul::after {display: none;}
.offerWrap .list_ul{ padding: 0 0 0;    justify-content: center;}
.offerWrap  .list_ul li{width: auto; max-width:33%;}
.offerWrap a { color: #003994; } .offerWrap a:hover { opacity: 0.7; }
.steps-hhnumber{padding:0px;}
.steps-hhnumber li{padding:5px 0;}
#qhhnumber { font-size: 18px; font-weight: 800; position: relative; cursor: pointer; display: inline-block; padding: 0 30px 10px 10px; border-bottom: 1px solid #DCDCDC; }
.down-arrow {     width: 30px; position: static; padding: 0; margin: 0; margin-top: 18px; }
#qhhnumber:after { content: ""; width: 8px; height: 8px; position: absolute; border: 2px solid #003994; border-top: 0; border-left: 0; transform: rotate(-315deg); top: 9px; margin-left: 12px; }


.code_btn{
     color: #003994;
     font-family: 'BentonSans-Bold';
     font-size: 18px;
     margin: 40px  auto 0;
}
#hhnumber p{
    color: #003994;
    font-size: 18px;
}
.not_a_link{
    color: #003994;
    font-family: 'BentonSans-Bold';
    font-size: 18px;
    display: inline-block;
    margin: 40px auto 0;
    text-decoration: none;
    padding-bottom: 10px;
    border-bottom: 1px solid #DCDCDC;
}
.H1-not{
    font-size: 32px;
    font-family: "Bentonsans-Medium";
    margin: 0 0 30px ;
    color: #00175A;
}
.Section_01{
    text-align: center;
    padding-bottom: 40px;
}
.Ul_benefits{
    padding: 0;
    list-style: none;
    width: 100%;
    max-width: 500px;
    margin: auto;
}
.Ul_benefits li{
    margin: 30px 0;
}
.ponit {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    display: flex;
    border: 2px solid #84235E;
    color: #84235E;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    margin: 0 auto 15px;
    font-weight: 700;
}
.ApplyNow{
    vertical-align: middle;
    padding: 0 1em;
    height: 60px;
    display: flex;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 0px;
    transition: background-color 0.25s ease-out,color 0.25s ease-out;
    font-family: "Loew-Heavy",Helvetica,Arial,sans-serif;
    font-size: 1.375rem;
    -webkit-appearance: none;
    text-align: center;
    cursor: pointer;
    background-color: #104c97;
    color: #fefefe;
    font-weight: 700;
    width: fit-content;
    margin: 0 auto;
    text-decoration: none;
}
.header_row{
    display: flex;
    justify-content: space-between;
}
.header{
    border-bottom: 1px solid #666;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}
.amex {
    width: 45px;
    height: 40px;
}
.hilton {
    width: 97px;
    height: 40px;
}
.Terms{
     font-size: 14px;
     color: #0a0a0a;
     margin: 15px 0 40px;
}
.Terms a{
    color: #0a0a0a;
    text-decoration: none;
}
.col-md-8{
    width: 70%;
    margin: auto;
}
.card_h3{
    color: #84235E;
}
.card_ben_head {
    font-size: 18px;
    cursor: pointer;
    position: relative;
    padding-right: 30px;
    width: fit-content;
    margin: auto;
    font-weight: 700;
    margin-top: 30px;
}
.accordion{
    height: 0;
    overflow: hidden;
    transition: height 0.5s ease-out;
}
.active {
    height: auto;
  }
  .card_ben_head::after {
    position: absolute;
    content: "";
    width: 13px;
    transition:.5s;
    height: 13px;
    border: 2px solid #666666;
    transform: rotate(45deg);
    border-top: 0;
    border-left: 0;
    right: 0;
}
.fa-chevron-down::after{
    transform: rotate(225deg);
    top: 7px;
}

/* footer */

footer {
    width: 100%;
    min-height: 300px;
    padding: 40px 0 20px;
    background: #104c97;
    position: relative;
    color: #fff;
    font-size: 9px;
    text-align: center;
    letter-spacing: 0.3px;
    margin-top: 0;
}
footer .small {
    font-size: 11px;
    font-weight: 400;
}
footer p {
    line-height: 2;
    margin-bottom: 20px;
    font-size: 12px;
    color: #fff;
}
footer a {
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}
a.footerLink {
    border-bottom: 1px solid #ffffff;
}

.partner-logos {
    margin: 30px 0 25px;
}
.partner-logos img {
    width: 100%;
}
 .partner_img_tab, .partner_img_mob {
    display: none;
}
footer ul {
    margin: 0;
    padding: 0;
}
footer ul li {
    list-style: none;
    display: inline-block;
}
footer ul li+li {
    margin-left: 16px;
}
.h1_head{
    font-size: 3.4375rem;
    line-height: .90909;
    font-weight: 800;
    color: #104c97;
}
.grayColor{
    color: #0a0a0a;
}
@media screen and (max-width: 767px) { .offerWrap .list_ul li{max-width: 100%;} .offerWrap{text-align: left;}#qhhnumber { display: block; }#qhhnumber:after{right: 0;}}
@media screen and (max-width: 0em), screen and (min-width: 40em)
{
    .show-for-small-only {
    display: none !important;
    }
}
@media screen and (max-width: 992px), screen and (min-width: 768px)
{
    .offerWrap .list_ul li{
       /* max-width: 40%;*/
    }
    .h3-head{
        font-size: 24px;

    }
}
@media screen and (max-width: 1192px)
{
.partner_img_tab {
    display: block;
}
.images_honor, .partner_img {
    display: none;
}
}
@media screen and (max-width: 767px)
{
.partner_img_mob {
    display: block;
}
.partner_img_tab{
    display: none;
}
.list_ul li{
    width: 100%;
    padding-right: 0;
    padding-bottom: 55px;
}
.list_ul{
    display: block;
}
.right-arrow {
    position: absolute;
    left: 7px;
    bottom: 20px;
    transform: rotate(90deg);
}
.list_ul li:last-child{
    padding-bottom: 0;
}
.offerWrap {
    padding: 40px 20px;
    border-radius: 20px;
    color: #fff;
    margin: 20px 0 0;
    width: 100%;
}
.code_btn{
    display: inline-block;
}
.label_input{
    justify-content: left;
}
.H1-not,.h2-head{
    font-size: 28px;
    text-align: center;
}
.h3-head{
    font-size: 24px;
    text-align: center;
}
.offerWrap .list_ul {
    max-width: 240px;
    margin: auto;
}
}